
body {
    margin: 0px;
    display: flex;
    flex-flow: column;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(#393e46, #00adb5);
    background: #02475e;
}

.header {
    margin: 2px;
    outline: 1px solid salmon;
    height: 3rem;
}

.container {
    display: flex; 
    flex-direction: raw;
    flex: 1;
    height: 600px;
}

.content {
    outline: 1px solid blue;
    display: flex;
    flex: 1;
}

.aside {
    display: flex;
    outline: 1px solid green;
    flex: 0 0 25%;
    margin: 0px;
    padding: 10px;
    height: 460px;
    border-radius: 50px solid blue;
}

.img {
    border-radius: 20px solid yellow;
    display: flex;
    text-align: end;
}

.footer {
    display: flex;
    outline: 1px solid purple;
    height: 6rem;
}

.title1 {
    display: flex;
    text-align: start;
}

.menu {
    display: flex;     
    margin: 0px;
    padding: 0px;
    justify-content: end;
    text-align: end;
    }
    .menu-item {
        list-style: none;
        flex: 1;
        text-align: center;
        outline: 1px solid cyan;
        line-height: 3rem;
        transition: flex .5s;
    }
    
    .menu-item:hover {
        flex:8;    
    }